{% extends "index.html" %}
{% block title %}Imprint{% endblock %}
{%block content%}

<style>
    .contentBox {
        margin-top: 7%!important;
        min-width: 100%!important;
        padding-left: 8%;
        padding-right: 8%;
        text-align: justify;
  }

</style>

<div class="contentBox">
    <h1>Imprint</h1>
    <p>The Web-Chat was developed in the course of a student research project</p>
    <h2 id="m3">Developers</h2> <p>Oliver K. (Backend)<br>Lukas P. (Frontend)<br>Stuttgart Cooperative State University<br>70174 Stuttgart</p>
</div>

{%endblock%}

{% block scripts%}
<script>

</script>
{% endblock %}