<!doctype html>
<html lang="de">


<style>
  .navbar{
    background-color: #001b66;
    
  }

  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    font-size: 100%;
    color: #3f79af;
  }

</style>

<head>
  {% block links%}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

  <!-- Emoji -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css//emojionearea.min.css') }}">
  
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>

  <script src="{{ url_for('static',filename='js/jquery.textcomplete.js') }}"></script>
  <script src="{{ url_for('static',filename='js/emojione.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/emojionearea.min.js') }}"></script>

  <title>XMPP-ChatClient | {% block title %}{% endblock %}</title>
  
  {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top">
  <i class="fa fa-comment fa-lg" style="color: white;"></i>
  {% if current_user.is_authenticated %}
  <a href="/gochat" class="navbar-brand ml-2" style="color: white!important;">XMPP-WebChat</a>
  {% else %}
  <a href="/login" class="navbar-brand ml-2" style="color: white!important;">XMPP-WebChat</a>
  {% endif %} 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if current_user.is_authenticated %}
  <div class="collapse navbar-collapse mr-auto" id="navbarNav">
    <ul class="navbar-nav">
      {% for navname, item in navs.items() %}
        {% if navname == currentNav %}
      <li class="nav-item active border-bottom">
        <a class="nav-link" href="{{ item[0] }}">{{ item[1] }}{{ navname }} <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item[0] }}">{{ item[1] }}{{ navname }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <a href="/logout"><i class="fa fa-sign-in fa-2x" style="color: white;"></i></a>
  {% endif %}
</nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} mt-5 pt-5">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  
  {% block content%}
  {%endblock%}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--<script src="{{ url_for('static',filename='js/jquery-3.3.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/google.jquery.min.js') }}"></script> -->
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>
