{% extends "index.html" %}
{% block title %}Sign In{% endblock %}
{%block content%}
<style>
    .form-group i {
        color: #003366!important;
    }
    .form-group button {
        color:#003366!important;
        border-color: #003366!important;
    }
    #button-addon:hover {
        background-color: #003366!important;
        color: white!important;
        border-color: white!important;
    }
    small.text-muted a {
        color:#003366
    }
    .d-flex.justify-content-center {
        max-width: 100%; 
        margin-top: 10%;
    }
    .content-section.pt-5.pl-5 {
        min-width: 350px;
        width: 40%;
        padding-left: 0%!important;
    }
    .form-check-label {
            margin-top: 2px;
    }
    @media screen and (max-width: 415px) {
        .content-section.pt-5.pl-5 {
            padding-top: 8%!important;
            min-width: 300px;
        }
        .form-group {
            font-size: 14px;
        }
        .form-control-lg {
            height: 40px;
            font-size: 14px;
        }
    }
</style>

<div class="d-flex justify-content-center">
<div class="content-section pt-5 pl-5">
    <div id="form-response" class="mb-3"></div>
    <form method="POST" action="/login" id="login-form">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <fieldset class="form-group">
                <div class="form-group">
                        <i class="fa fa-user fa-lg text-primary"></i>
                          <label class="form-control-label" for="UsernameLabel">Username</label>
                          <input type="text" class="form-control form-control-lg" id="username" placeholder="Enter username">
                          <div class="invalid-feedback" id="username-invalid">
                                <span></span>
                        </div>
                        </div>
            <div class="form-group">
                    <i class="fa fa-lock fa-lg text-primary"></i>
                    <label for="PasswordLabel">Password</label>
                    <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter password">
                    <div class="invalid-feedback" id="password-invalid">
                    <span></span>
                </div>
                </div>

                <div class="form-check pt-2">
                        <input type="checkbox" class="form-check-input mt-2" id="formRememberCheck">
                        <label class="form-check-label" for="formRememberCheck">Remember me</label>
                    </div>
        </fieldset>
        <div class="form-group">
                <button type="submit" class="btn btn-outline-primary" id="button-addon">Sign in</button>
            </div>
        <small class="text-muted">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
    <div class="border-top mt-3">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href="/register">Sign Up</a>
        </small>
    </div>
</div>
</div>

{%endblock%}

{%block scripts%}
<script src="{{ url_for('static',filename='js/loginjs.js') }}"></script>
{% endblock %}
