{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{%block content%}

<div class="d-flex justify-content-center" style="margin-top: 5%!important; min-width: 100%!important;">
    <div class="content-section pt-5" style="width: 50%!important;">
        <div id="form-response" class="mb-3"></div>
<form action="/register" id="register-form" method="POST">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <fieldset class="form-group">
    <div class="form-group">
    <i class="fa fa-user fa-lg text-primary"></i>
      <label class="form-control-label" for="UsernameLabel">Username</label>
      <input type="text" class="form-control form-control-lg" id="username" placeholder="Enter username">
      <div class="invalid-feedback" id="username-invalid">
            <span></span>
    </div>
    </div>
    <div class="form-group">
        <i class="fa fa-lock fa-lg text-primary"></i>
        <label for="eMailLabel">E-Mail</label>
        <input type="email" class="form-control form-control-lg" id="eMail" placeholder="Enter E-Mail">
        <div class="invalid-feedback" id="eMail-invalid">
            <span></span>
    </div>
      </div>
    <div class="form-group">
        <i class="fa fa-lock fa-lg text-primary"></i>
      <label for="PasswordLabel">Password</label>
      <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter password">
      <div class="invalid-feedback" id="password-invalid">
        <span></span>
    </div>
    </div>
      <div class="form-group">
        <i class="fa fa-check fa-lg text-primary"></i>
        <label for="ConfirmPassword">Confirm</label>
        <input type="password" class="form-control form-control-lg" id="confirmPassword" placeholder="Confirm password">
        <div class="invalid-feedback" id="confirmPassword-invalid">
            <span></span>
    </div>
      </div>
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary" id="register-form-button">Sign up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
        Already have an account? <a class="ml-2" href="/login">Sign In</a>
    </small>
</div>
</div>
</div>

{%endblock%}

{% block scripts%}
<script src="{{ url_for('static',filename='js/registerjs.js') }}"></script>
{% endblock %}